<%= form_with(model: show, local: true) do |form| %>
  <% if show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul>
        <% show.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </p>
  <p>
    <%= form.label :desciption %>
    <%= form.text_area :desciption, class: "form-control" %>
  </p>
  <p>
    <%= form.label :start_time %>
    <%= form.time_field :start_time, class: "form-control" %>
  </p>
  <p>
    <%= form.label :end_time %>
    <%= form.time_field :end_time, class: "form-control" %>
  </p>
  <p>
    <%= form.label :channel %>
    <%= form.select :channel_id, Channel.all.collect {|x| [x.name, x.id]}, {}, class: "form-control" %>
  </p>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
